body{
  margin: 0;
  padding: 0
}

.holder {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 10px 0;
}
.container {
  width: 175px;
  height: 175px;
  overflow: hidden;
  transition-duration: 1s;
  position: relative;
  text-align: center;
  display: block;
}
.container:hover,
.gamethumb:hover,
.holder:hover {
  border-radius: 40px;
}
.container:hover,
.gamethumb:hover {
  transform: rotate(5deg);
}
.container,
.gamethumb,
.holder {
  border-radius: 0px;
}
.container:hover img {
  transform: scale(1.25);
}
.thumbtext {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}
.functioninput {
  opacity: 0.7;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  border-style: none;
  text-align: center;
  transition-duration: 0.5s;
}
.gamethumb {
  float: right;
  margin: 0px 5px 20px 0px;
  width: 175px;
  height: 175px;
  border-radius: 2px;
  transition-duration: 0.5s;
  opacity: 0.5;
}
.gamethumb:hover {
  float: right;
  margin: 0px 5px 20px 0px;
  border-radius: 40px;
  transition-duration: 0.5s;
  opacity: 0.5;
}
#navbar {
  opacity: 1;
  color:#210a1b;
  z-index: 1000;
      align-items: center;
  justify-content: center;
  display: flex;

}
p {
    animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: 1;
  text-align: center;
}
textarea{
  width:150;
  height:75;
  border-radius: 10px;
  transition-duration: 0.5s;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: 1;
  opacity:0.5;
}
textarea:hover{
  opacity:1;
}
iframe{
animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
.paragraph{
  text-align: center;
  opacity: 0.5;
  transition-duration: 0.3s;
    animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: 1;
  text-align: center;
}
.button{
  width:200;
  height:75;
  border-radius: 2px;
  transition-duration: 0.5s;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: 1;
  opacity:0.5;
}
.button:hover{
  width:250;
  height:100;
  border-radius: 5px;
  opacity:1;
}
.buttoninput{
border-style: none;
  width:100;
  height:50;
  border-radius: 2px;
  transition-duration: 0.5s;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: 1;
  opacity:0.5;
}
.buttoninput:hover{
  opacity:1;
}
.credittext{
  text-align: center;
  opacity: 0.5;
  transition-duration: 0.3s;
    animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: 1;
  text-align: center;"
}
#panelsContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
            animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
.panelcredit {
  /* Your existing styles */
  width: auto;
  margin-right: 10px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
      div.panelcredit{
      width: 225px;
      height:325px;
      align-self: center;
      align-content: center;
      text-align: center;
      opacity: 0.5;
      transition-duration: 0.5s;
     }
     div.panelcredit:hover{
      scale: 1.05;
      width: 225px;
      height:325px;
      align-self: center;
      align-content: center;
      text-align: center;
      opacity: 0.5;
  -webkit-animation: shadow-drop-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: shadow-drop-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
     }
/* box shadow time */
@-webkit-keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
.round{border-radius: 50%;
width:"100";
height:"100";
transition-duration:0.3s;}

.navtext{
  text-align: center;
  font-size:20px;
  text-decoration: none;
  opacity: 0.5;
  transition-duration: 0.5s;
}
.navtext:hover{
  padding: 10px 0;
  text-align: center;
  font-size:24px;
  text-decoration: none;
  opacity: 1;
}
.bar{
    transition: .4s;
    z-index:4;
    position: absolute;
    bottom:0px;
    left:0px;
    opacity: 1;
}
@keyframes rotate{
  0%{transform: rotate3d(5, 5, 5, 600deg); opacity: 0;}
  100%{transform: rotate3d(0, 0, 0, 600deg); opacity:0.5}  }
