@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
}

.holder {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 10px 0;
}

.container {
  border: 0px solid black;
  width: 175px;
  height: 175px;
  overflow: hidden;
  transition-duration: 1s;
  position: relative;
  text-align: center;
  display: block;
}

.container:hover,
.gamethumb:hover,
.holder:hover {
  border-radius: 40px;
}

.container:hover,
.gamethumb:hover {
  transform: rotate(5deg);
}

.container,
.gamethumb,
.holder {
  border-radius: 0px;
}

.container:hover img {
  transform: scale(1.25);
}

.thumbtext {
  position: absolute;
  font-family: 'Assistant', sans-serif;
  font-size: 18px;
  color: aliceblue;
  text-align: center;
  opacity: 0.5;
  transition-duration: 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  background-color: #300f27;
  box-sizing: border-box;
}

.functioninput {
  background-color: #300f27;
  color: aliceblue;
  font-family: 'Assistant', sans-serif;
  opacity: 0.7;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  border-style: none;
  text-align: center;
  transition-duration: 0.5s;
}

.functioninput:hover {
  width: 200px;
  background-color: aliceblue;
  color: #300f27;
  font-family: 'Assistant', sans-serif;
  opacity: 0.7;
  border-radius: 15px;
}

.gamethumb {
  background-color: #300f27;
  color: aliceblue;
  font-family: 'Assistant', sans-serif;
  font-size: 18px;
  float: right;
  margin: 0px 5px 20px 0px;
  width: 175px;
  height: 175px;
  border-radius: 2px;
  transition-duration: 0.5s;
  opacity: 0.5;
}

.gamethumb:hover {
  background-color: #300f27;
  color: aliceblue;
  font-family: 'Assistant', sans-serif;
  font-size: 18px;
  float: right;
  margin: 0px 5px 20px 0px;
  border: 0px, 0px, 10px solid aliceblue;
  border-radius: 40px;
  transition-duration: 0.5s;
  opacity: 0.5;
}

/* end of holder, container, gamethumb, and thumbtext css. */



/* lol you can't edit this navbar id it stays the same with all themes */
#navbar {
  opacity: 1;
  color:#210a1b;
  z-index: 1000;
      align-items: center;
  justify-content: center;
  display: flex;

}

/* this are very basic default classes, but since
I always apply classes you dont really have to worry
              about these too much. */
p {
  color: aliceblue;
  font-family: sans-serif
    animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: 1;
  text-align: center;
}
textarea{
  background-color: #300f27;
  color: aliceblue;
  font-family: 'Assistant', sans-serif;
  font-size: 18px;
border: 2px 2px 2px aliceblue;
  width:150;
  height:75;
  border-radius: 10px;
  transition-duration: 0.5s;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: 1;
  opacity:0.5;
}
textarea:hover{
border: 2px 2px 15px aliceblue;
  opacity:1;
}
iframe{
animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
/* this is the end of the terribly made classes */

/* paragraph, heading, and button classes*/
.paragraph{
  font-family: 'Assistant', sans-serif;
  font-size:18px;
  color:aliceblue;
  text-align: center;
  opacity: 0.5;
  transition-duration: 0.3s;
    animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: 1;
  text-align: center;
}
.heading{
font-family: 'Assistant', sans-serif;
font-size:24px;
color:aliceblue;
opacity: 0.5;
    animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: 1;
  text-align: center;
transition-duration: 0.5s;
}
.heading:hover{
  border: 4px 4px 30px aliceblue;
  opacity: 1; 
  color:white
}
.button{
background-color: #300f27;
  color: aliceblue;
  font-family: 'Assistant', sans-serif;
  font-size: 18px;
border-style: none;
  width:200;
  height:75;
  border-radius: 2px;
  transition-duration: 0.5s;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: 1;
  opacity:0.5;
}
.button:hover{
border: 1px 1px 1px 15px aliceblue;
background-color: #fffcfc;
  color: #300f27;
  width:250;
  height:100;
  border-radius: 5px;
  opacity:1;
}
.buttoninput{
background-color: #300f27;
  color: aliceblue;
  font-family: 'Assistant', sans-serif;
  font-size: 18px;
border-style: none;
  width:100;
  height:50;
  border-radius: 2px;
  transition-duration: 0.5s;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: 1;
  opacity:0.5;
}
.buttoninput:hover{
border: 1px 1px 1px 15px aliceblue;
background-color: #fffcfc;
  color: #300f27;
  border-radius: 5px;
  opacity:1;
}
/* end of paragraph, heading, and button classes.*/


/* this one just makes shit round lol */
.round{border-radius: 50%;
width:"100";
height:"100";
box-shadow: 0px 0px 5px #8FB2D5;
transition-duration:0.3s;}
.round:hover{box-shadow: 0px 0px 15px #8FB2D5;}
/* navtext properties (navtext is just navigation text :O */
.navtext{
  text-align: center;
    font-family: 'Assistant', sans-serif;
  font-size:20px;
  color:aliceblue;
  text-decoration: none;
  border: 2px;
  background-color: #210a1b;
  opacity: 0.5;
  transition-duration: 0.5s;
}

.navtext:hover{
  padding: 10px 0;
  text-align: center;
    font-family: 'Assistant', sans-serif;
  font-size:24px;
  color:aliceblue;
  text-decoration: none;
  border: 2px, 2px, 15px, aliceblue;
  background-color: #210a1b;
  opacity: 1;
}

.bar{
    background: #210a1b;
    transition: .4s;
    z-index:4;
    position: absolute;
    bottom:0px;
    left:0px;
    opacity: 1;
}

/* This is the effect that is used in cyanide 1.0. 
    Do whatever you want to it, I don't care! */
@keyframes rotate{
  0%{transform: rotate3d(5, 5, 5, 600deg); opacity: 0;}
  100%{transform: rotate3d(0, 0, 0, 600deg); opacity:0.5}  
}
/* Thanks for joining me on the journey through the
cyanide css files, and I hope you stay safe and healthy out there!
Don't forget to NEVER, EVER, take drugs kids! */ 

        .ba {
            min-width: 100%;
            min-height: 1000px;
            background: url("piplup.png"), #111111;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
        }

        @keyframes parallax {
            0% {
                background-position: 0px center;
            }
            100% {
                background-position: -1000px center;
            }
        }

        @media (prefers-reduced-motion) {
            .ba {
                animation: none;
            }
        }

        @media (min-width: 670px) {
            .title {
                font-size: 5rem;
            }
        }